[submodule "frontend"]
	path = frontend
	url = https://github.com/reynososergio/pharma-challenge-ui.git
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/reynososergio/pharma-challenge-api.git
	branch = main
